body{
    height: 100vh;
    background-image:linear-gradient(#ffff1c, #00c3ff);
}

.logo{
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
}

h1{
    
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.container{
    max-width: 955px;
    border: 2px solid black;
    border-radius: 6px;
    margin: auto;
    height: 60vh;
    overflow-y: auto ;
    margin-bottom: 17px;
}

.message{
    background-color:#DCDCDC;
    width: 24%;
    padding: 7px;
    margin: 3px 2px;
    border: 2px solid black;
    border-radius: 10px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 1031px;
    width: 100%;
    padding-top: 5px;
}

#messageInp{
    width: 80%;
    border: 2px solid black;
    border-radius: 6px;
    height: 30px;
}

.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    width: 9%;
}
